<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<h2 align="center">Contact Detail</h2>

<div class="test">
    <div>
        <label> Firstname: </label>
        <input type="text" [(ngModel)]="contact.firstName">
    </div>
    <div>
        <label> Lastname: </label>
        <input type="text" [(ngModel)]="contact.lastName">
    </div>
    <div>
        <label> Email: </label>
        <input type="text" [(ngModel)]="contact.email">
    </div>
    <div>
        <label> Phone Number: </label>
        <input type="text" [(ngModel)]="contact.phone">
    </div>
    <button (click)="onCreateNew()">create contact from this contact</button>

</div>
</body>
</html>
